<!DOCTYPE html>
<html>
<head>
    <title>Loading</title>
    <link rel="stylesheet/less" href="/stylesheets/loading.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- <body onload="myFunction()" style="margin:0;"> -->
<body onload="myFunction()">
      <div id="loader">
        <div class='body'>
          <span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class='base'>
            <span></span>
            <div class='face'></div>
          </div>
        </div>
        <div class='longfazers'>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1>Redirecting</h1>
      </div>

      <div style="display:none;" id="myDiv">
        <h2>Successful</h2>
      </div>
        
              

<script src="/javascripts/loading.js"></script>

</body>
</html>
