<% include partials/header%>

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="myCarousel" data-slide-to="1"></li>
            <li data-target="myCarousel" data-slide-to="2"></li>
            <li data-target="myCarousel" data-slide-to="3"></li>
        </ol>
        
        <div class="carousel-inner" style="height: 360px;">
            <div class="item active">
                <img src="https://www.ooredoo.qa/ooredoofiles/eshop/images/prod/0/E/E/F//0EEFC6E8-D5AF-4C1B-9E32-8E07BBA2201B_1_big.jpg" style="width: 100%; height: 200%;">
            </div>
            
            <div class="item">
                <img src="https://androidtecho.com/wp-content/uploads/2018/03/OnePlus-Cover2.jpg" style="width: 100%;">
            </div>
            <div class="item">
                <img src="https://ggslk.com/wp-content/uploads/2017/11/google-pixel2-features-au__02.jpg" style="width: 100%;">
            </div>
            <div class="item">
                <img src="http://gadgetforyou.in/wp-content/uploads/2018/05/additional_0.jpg" style="width: 100%;">
            </div>
        </div>
        
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
         </a>
    </div>
    <br>
    <div class="row">
        <h2 class="text-center">At UniverCell we have</h2><br>
        <div class="col-md-4">
            <div class="thumbnail" style="height: 300px;">
                <img src="https://images.idgesg.net/images/article/2017/09/apple_evolution_iphone_x-100735499-orig.jpg" class="img-responsive" style="width: 100%; height: 100%">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="height: 300px;">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71zG6PnpU0L._SL1000_.jpg" class="img-responsive" style="width: 100%; height: 100%;">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="height: 300px;">
                <img src="https://beta.theglobeandmail.com/ece-images/38f/technology/gadgets-and-gear/gadgets/article21797933.ece/BINARY/w940/image.jpg" class="img-responsive" style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
    <br>
    <div class="container well">
        <div class="heading">
            <h1 class="text-center jumbotron" ><u>Lorem ipsum dolor sit</u></h1>
        </div><br>
        <p id="lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at mollis velit. Morbi ligula odio, tempor ut libero eu, aliquam sodales lorem. Aenean at ipsum nisi. Mauris sapien augue, varius vel placerat eget, varius sed purus. 
            Nullam varius et justo ac convallis. Aenean dapibus, eros vitae pharetra gravida, erat dui feugiat neque, eget malesuada massa nunc ac erat. Phasellus dignissim venenatis tortor id luctus. Proin imperdiet lacinia ex, dapibus luctus ipsum mollis a.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur ultrices quis urna eget posuere. 
            Nulla aliquam, nulla vitae aliquam posuere, nibh augue vulputate ante, quis sollicitudin diam justo id metus. Phasellus efficitur, eros nec facilisis ornare, dolor eros ultrices risus, quis dictum purus libero fermentum dui.
        </p><br>
        <p id="lorem">
            Curabitur id ex in felis condimentum blandit. Integer sem nisi, cursus nec auctor in, aliquam quis ante. Proin pellentesque nibh at odio malesuada, sed hendrerit quam placerat. Donec in mattis tellus. Nullam sit amet nunc eget eros varius sagittis. 
            Curabitur sit amet magna a arcu imperdiet finibus vel at urna. Praesent volutpat mollis sapien at facilisis. Nam eleifend turpis sit amet sagittis tempor. Phasellus mollis lectus orci, eget egestas urna ultricies sit amet. Nulla id lacus at ipsum ultrices tincidunt nec nec odio. 
            Fusce non sollicitudin tellus, quis pulvinar eros. 
            Etiam vehicula lacinia nulla, ut luctus urna interdum nec. Mauris consequat magna felis, ut luctus nibh egestas nec. Vestibulum vestibulum pulvinar justo, non fermentum nibh varius facilisis. 
            In scelerisque vel urna ut elementum.
        </p>
    </div>
</div>

<% include partials/footer%>